@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  --background: #ffffff;*/
/*  --foreground: #171717;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/*body {*/
/*  color: var(--foreground);*/
/*  background: var(--background);*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/


.quantity_input {
    border-radius: 6px;
    width: 65px;
    text-align: center;
    border: 1px solid gray;
    margin: 10px;
    padding: 2px;
}

.count {
    padding: 3px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.product-cost {
    float: left;
}

.main-cost {
    float: right;
    margin: 10px 15px;
}

.quantity {
    float: left;
}

.unit {
    font-size: 15px;
    color: #000000;

}

/* Desktop Version: Show the slider */
.desktop-slider {
    display: block; /* Slider shown only on larger screens */
}

/* Mobile Version: Adjust Image */
.mobile-slider img {
    width: 100%; /* Ensure full width on mobile */
    object-fit: contain; /* Prevent cropping */
}

/* Hide desktop slider for small screens */
@media (max-width: 1024px) {
    .desktop-slider {
        display: none;
    }

    /* Show mobile image instead on smaller screens */
    .mobile-slider {
        display: block;
    }

    .mobile-image {
        width: 100%;  /* Ensure full width */
        object-fit: contain; /* Adjust to fit without cropping */
    }
}
